#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;

    [aria-current="page"] {
        font-weight: 700;
    }
}
